.my-recipes-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.my-recipes-form input,
.my-recipes-form textarea,
.my-recipes-form button {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.my-recipes-form button {
  background-color: #ff7f50;
  color: white;
  border: none;
  cursor: pointer;
}

.my-recipes-form button:hover {
  background-color: #e76f3c;
}

/* Griglia solo per le ricette create */
.created-recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    gap: 8px;
    margin-top: 40px;
}

/* Card delle ricette */
.recipe-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 10px;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}

.edit-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #2980b9;
}

.Ricette{
     text-align: center;
  font-weight: bold;
  margin-bottom: 20px; 
}
