/* src/index.css */

/* Imposta un font di base */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9; /* Colore di sfondo chiaro */
}

/* Imposta il colore di base per i testi */
h1, h2, h3, p {
  color: #333; /* Colore scuro per il testo */
}

/* Aggiungi un padding globale */
* {
  box-sizing: border-box;
}
/* Stile per il logo */
.logo {
  width: 100px; /* Puoi cambiare la larghezza a seconda delle tue preferenze */
  height: auto;
}


/* Stile per i link */
a {
  text-decoration: none;
  color: #ff7f50; /* Colore arancione per i link */
}

a:hover {
  text-decoration: underline;
}

/* Button generale */
button {
  background-color: #ff7f50; /* Colore arancione */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e76f3c; /* Colore arancione più scuro */
}

/* Stile per l'header e il logo */
.app-header {
  background-color: #ff7f50; /* Colore arancione */
  color: white;
  padding: 20px 0;
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
}

.logo {
  width: 100px; /* Imposta una dimensione per il logo */
  height: auto;
}

/* Titolo */
h1 {
  font-size: 2.5rem;
  margin-top: 10px;
}
